*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

margin: auto;
padding:"1 rem 1 rem";
background-color:azure;


}


.container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    border: 1px solid black;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    
    
}

.heading{
    padding-top: 4rem;
    font-weight: bold;
}

.description{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#button-click{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    cursor: pointer;
    margin: auto;
    display: block;
    margin-bottom: 1rem;


    
}
label{
    padding: 1rem;
}
#bill-amount{
    border-radius: 0.5rem;
    padding:0.5rem 0.5rem;

}
#cash-given{
    border-radius: 0.5rem;
    padding:0.5rem 0.5rem;
    margin-bottom: 0.5rem;
;
    
}
caption{
    font-weight: bolder;
    font-size: large;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

td{
    border: 1px solid black;
    padding: 0.5rem;
}
th{
    border: 1px solid black;
    padding: 0.5rem;

}